<!DOCTYPE html>
<html>
  <head>
    <title>Gallerize</title>
    <meta charset="utf-8" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.0.0/build/cssreset/reset-min.css&3.0.0/build/cssfonts/fonts-min.css&3.0.0/build/cssbase/base-context-min.css" />
    <!-- move this into your css file -->
    <style>
      /* Setup HTML5 tags */
      article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
        display: block;
        margin:0;
        padding:0;
      }
      
      html {
        background-color: #333;
      }
      
      #container {
        margin: 0 auto;
        width: 960px;
      }
      
      img {
        background-color: #fff;
        border: 1px solid #222;
        padding: .75em;
        -webkit-box-shadow: 2px 2px 6px #111;
      }
      
      .row {
        overflow: auto;
      }
      
      .item {
        float: left;
        margin: 0 1em 1em 0;
        text-align: center;
        width: 280px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <header>
        <h1><%= @title %></h1>
      </header>
      <section class="yui-cssbase">
        <div class="row">
        <% count = 0 %>
        <% @images.each do |image| %>
          <% if count % 3 == 0 %>
          </div>
          <div class="row">
          <% end %>
          <div class="item"><img src="thumbs/<%= thumb(image, 250) %>" /></div>
          <% count += 1 %>
        <% end %>
        </div>
      </section>
    </div>
  </body>
</html>