article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  margin:0;
  padding:0;
}

html {
  background-color: #333;
}

#container {
  margin-left: 1.5em;
}

img {
  border: 1px solid #888;
  -webkit-box-shadow: 2px 2px 6px #222;
}

.item {
  float: left;
  margin: 0 1.5em 1.5em 0;
}
