article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  margin:0;
  padding:0;
}

html {
  background-color: #333;
}

body {
  font-family: 'Helvetic Neue';
  padding: 2em;
}

h1 {
  color: #777;
  font-size: 400%;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.item {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.item img {
  border: 1px solid #888;
  -webkit-box-shadow: 2px 2px 6px #222;
}