<!DOCTYPE html>
<html>
  <head>
    <title>Gallerize</title>
    <meta charset="utf-8" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.0.0/build/cssreset/reset-min.css&3.0.0/build/cssfonts/fonts-min.css&3.0.0/build/cssbase/base-context-min.css" />
    <link rel="stylesheet" href="resources/screen.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <h1><%= @name %></h1>
      </header>
      <section class="yui-cssbase">
        <% @images.each_with_index do |image, i| %>
          <div class="item"><a href="show/<%= i %>.html"><img src="thumbs/<%= resize(image, 150, true) %>" height="150" width="150" /></a></div>
        <% end %>
      </section>
    </div>
  </body>
</html>